@import "partials/settings";
@import "partials/foundation";
@import '../vendor/bower_components/foundation-icon-fonts/_foundation-icons' ;


@import '../vendor/bower_components/fontawesome/scss/font-awesome';
@import '../vendor/bower_components/foundation-font-awesome-buttons/src/ffab';

@include ffab-everything;

.size-12 { font-size: 12px; }
.size-14 { font-size: 14px; }
.size-16 { font-size: 16px; }
.size-18 { font-size: 18px; }
.size-21 { font-size: 21px; }
.size-24 { font-size: 24px; }
.size-36 { font-size: 36px; }
.size-48 { font-size: 48px; }
.size-60 { font-size: 60px; }
.size-72 { font-size: 72px; }
.size-120 { font-size: 120px; }

$ffab-css-prefix: 'ffab';
$ffab-default-position: 'after';
$ffab-border-width: 0;
$ffab-angle: 15;
$ffab-transition-speed: 0.3s;
$ffab-transition-behavior: 'remove'; // @options 'remove', 'cover' or 'none'
$ffab-overlay-background-color: rgba(255, 255, 255, .1);

.menu .is-active > a {
  background: transparent;
}
.menu .is-active > a:hover,.menu .is-active > a:focus {
  background-color: dodgerblue;
}

.tabs a:hover{
  background: dodgerblue;
}

$accordionmenu-arrows:true;
$accordionmenu-arrow-color:red;
$accordionmenu-arrow-size:25px;
// hide for pageload blinking bug , remove hidden attr with js after pageload
#offCanvasRight{
  display: none;
}
//spinner for loading wait
.fi-spin-custom {
  -webkit-animation: spin 4000ms infinite linear;
  animation: spin 4000ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


#HomeMenuButton {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 5px auto;
  padding-left:10px;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
cursor: pointer;
}

#HomeMenuButton span {
display: block;
position: absolute;
height: 9px;
width: 100%;
background: #d3531a;
border-radius: 9px;
opacity: 1;
left: 0;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);
-webkit-transition: .25s ease-in-out;
-moz-transition: .25s ease-in-out;
-o-transition: .25s ease-in-out;
transition: .25s ease-in-out;
}

#HomeMenuButton span:nth-child(1) {
top: 0px;
}

#HomeMenuButton span:nth-child(2) {
top: 18px;
}

#HomeMenuButton span:nth-child(3) {
top: 36px;
}

#HomeMenuButton.open span:nth-child(1) {
top: 18px;
-webkit-transform: rotate(135deg);
-moz-transform: rotate(135deg);
-o-transform: rotate(135deg);
transform: rotate(135deg);
}

#HomeMenuButton.open span:nth-child(2) {
opacity: 0;
left: -60px;
}

#HomeMenuButton.open span:nth-child(3) {
top: 18px;
-webkit-transform: rotate(-135deg);
-moz-transform: rotate(-135deg);
-o-transform: rotate(-135deg);
transform: rotate(-135deg);
}


$white: #fff;
$nav-text-color: $white;
$nav-height: 75px;
$nav-background: #2c3840;
$offcanvas-padding: 20px;
$font-family: 'Titillium Web', sans-serif;

.nav-bar {
display: flex;
justify-content: space-between;
align-items: center;
background: $nav-background;
height: $nav-height;
font-family: $font-family;
margin-bottom: 30px;

.nav-bar-logo {
padding: 1.8rem;
}

li {
background: $nav-background;
}

a {
color: $nav-text-color;
transition: color 0.2s ease-in;

&:hover {
color: lighten($nav-background, 50%);
}
}

@media screen and (max-width: 39.9375em) {
height: $nav-height/1.2;
}

.offcanvas-trigger {
display: flex;
align-items: center;
justify-content: center;
padding: 0.0rem;
color: $nav-text-color;
font-family: $font-family;
text-transform: uppercase;
transition: background-color 0.2s ease-in;
cursor: pointer;

.offcanvas-trigger-text {
margin-right: 0.25rem;
margin-top: 0.25rem;
}

&:hover {
background-color: lighten($nav-background, 30%);
}

@media screen and (max-width: 39.9375em) {
padding: 0.9rem;
}
}
}

.off-canvas {
background: darken($nav-background,5%);
padding: 20px;
color: $white;
font-family: $font-family;

> .menu {
margin-bottom: 1rem;
}

.menu a {
color: rgba($nav-text-color,.6);
padding-top: 7px;
padding-bottom: 7px;
transition: color .2s ease-in;

&:hover {
color: $nav-text-color;
}
}

.fa {
color: $nav-text-color;
}

.is-accordion-submenu-parent > a::after {
border-color: rgba($nav-text-color,.6) transparent transparent;
}

.social-links {
margin-left: $offcanvas-padding;

li {
margin-right: 5px;
}

a:hover .fa {
color: darken($nav-text-color,25%);
transition: color .2s ease-in;
}

.fa {
font-size: 2.2rem;
}
}
}

.body-info {
text-align: center;
font-family: $font-family;
color: $nav-background;

.button {
margin: 1rem 0;
padding: 0.85em 2em;
}
}

.is-open + .off-canvas-content .hamburger {

.line:nth-child(1),
.line:nth-child(3) {
width: 12px;
}

.line:nth-child(1) {
transform: translateX(-5px) rotate(-45deg);
}

.line:nth-child(3) {
transform: translateX(-5px) rotate(45deg);
}
}

