@page {
    size: A4;
    /*margin:0;*/
    /*padding: 0;*/
}

body {
    /*font-size: 7pt;*/
    font-family: firefly, DejaVu Sans, sans-serif;
    /*background: url('{$base_url}pd-direct.png') no-repeat center center;*/
    /*font-size: 10pt;*/
}
.WerkbonTitle{
    font-size: 1.5em;
}
.HeaderInfo{
    width: 100%;
    margin-top:70px;
}
.HeaderInfoBlock{
    width: 45%;
    font-size: 0.6em;
}
.TDInfoLabel{
    width: 10%
}
.TDInfoInput{
    border-bottom: 1px solid black;
    width: 30%
}
.TDParamLabel{
    width: 10%
}
.TDParamInput{
    border-bottom: 1px solid black;
    width: 5%
}

/*  Rechter kolom 45% van opp pagina*/
.VragenBlockRechts{
    position: absolute;
    width: 45.5%;
    right: 0;
    float: right;
}
.VragenTableRechts{
     width: 100%;
     font-size: 0.6em;
    border-spacing: 0;
 }
.SpacingRow{
    height:5px;
}

/**  Ja_Nee vragen   */
.JaNeeTopTDInput{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 18%;
    text-align: center;
}

.JaNeeTDLabel{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 82%;
    margin-right:0;
}
.JaNeeLastTDLabel{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 82%;
    margin-right:0;
}
.TDLastRow{
    border-bottom: 1px solid black;
}

.JaNeeTDInput{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    margin-left:0;
    width: 18%;
   text-align: center;
}
.JaNeeLastTDInput{
    border: 2px solid black;
    border-top-width: 1px;
    margin-left:0;
    width: 3%;
   text-align: center;
}

/** Parameter vragen */
.ParameterHeaderTDSetpoint{
    border-left: 2px solid black;
    /*border-right: 2px solid black;*/
    border-top: 2px solid black;
    width: 3%;
    text-align: center;
}
.ParameterHeaderTDWaaarde{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    width: 3%;
    text-align: center;
}

/** First td of ParameterBlock*/
.ParameterTDLabel{
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 54%;
    /*margin-right:0;*/
}
.LastParameterTDLabel{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    width: 54%;
    /*margin-right:0;*/
}

/** Second td of ParameterBlock*/
.tdGrootheid{
    border-top: 1px solid black;
    text-align: center;
}
.LastTDGrootheid{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
}

/** Thurd td of ParameterBlock*/
.ParameterWaardeInputTD{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 1px solid black;
    margin-left:0;
    width:20%;
    text-align: center;
}
.LastParameterWaardeInputTD{
    border: 2px solid black;
    border-top-width: 1px;
    margin-left:0;
    width:20%;
    text-align: center;
}

/** Forth td of ParameterBlock*/
.ParameterSetpointInputTD{
    border-left: 2px solid black;
    border-top: 1px solid black;
    margin-left:0;
    width:20%;
    text-align: center;
}
.LastParameterSetpointInputTD{
    border-top: 1px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    margin-left:0;
    width:20%;
    text-align: center;
}


.KeuzeVragenTableRechts{

}

/*  Opmerkingen block links*/
.BlockLinks{
    /*position: absolute;*/
    width: 54%;
    left: 0;
    float: left;
}
.OpmerkingenBlock{
    width: 100%;
    /*font-size: 0.6em;*/
    border-spacing: 0;
    /*text-align: left;*/
    border : 1px solid black;
}
.THL{
    text-align: left;
    border-bottom : 1px solid black;
}
.OpmerkingArea{
    height:50px;
    vertical-align: top;
}
.MutatiesBlock{
    width: 100%;
    /*height: 300px;*/
    font-size: 0.6em;
}
.GasMutatiesBlock{
    /*position: absolute;*/
    left: 0;
    width: 49%;
    border-spacing: 0;
    border-left : 1px solid black;
    border-right : 1px solid black;
    /*height:20%;*/
    font-size: 0.7em;
    float: left;
}

.GasTD{
    border-bottom: 1px solid black;
    text-align: center
    /*width: 33%;*/
}
.GasMutatieTable {
    width: 100%;
    border-spacing: 0;
}

/* Werkuur boekingen**/
.WerkuurBoekingBlock{
    /*position: relative ;*/
    /*float: left;*/
    float: right ;
    right: 0;
    width: 50%;
    /*height: 600px;*/
    border-spacing: 0;
    /*border : 1px solid black;*/
    font-size: 0.7em;
    /*height:60px;*/
}
.WerkuurBoekingTable{
    width: 100%;
    border-spacing: 0;

}
.WUTH{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}


.MonteurInfoBlock{
    width: 100%;
    font-size: 0.5em;
    border-spacing: 0;
    /*text-align: left;*/
    /*border : 1px solid black;*/
}
.HandtekeningTable{
    width: 100%;
    border-spacing: 0;
}
.HTTDLabel{
    width: 20%;
    text-align: left;
}
.HTTDInput{
    width: 30%;
    text-align: left;
    border-bottom : 1px solid black;
}
.HandtekeningFooter{
    text-align: left;
    font-size: 0.7em;
}